<header class="header navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "T-Shirt Co", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Mens", men_path %></li>
				<li><%= link_to "Womens", women_path %></li>
				<li><%= link_to "Boys", boys_path %></li>
				<li><%= link_to "Girls", girls_path %></li>
				<!--<li><button type="button" class="btn btn-default navbar-btn">Sign Up</button></li>-->
			</ul>
		</nav>
	</div>
</header>
